<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Profile Page</title>
<body style="background-color:#455DF8;">
    <h1 class="mb-4" style="margin-left: 45%; margin-top: 2%;"><%= username %>'s Blog </h1>
    <a href="create" class="btn btn-dark " style="margin-left:1%; margin-top: -3%;"><i class="fa fa-pencil"></i>CREATE A NEW POST</a>
    <a href="home" class="btn btn-dark" style="margin-left: 60%; margin-top:-4%"><i class="fa fa-home"></i>Home</a>
    <a href="/" class="btn btn-danger " style="margin-left: 90%; margin-top:-8%;"><i class="fa fa-user-circle-o"></i>Sign Out</a>
    <% posts.forEach(Home1 => { %>
    <div class="card  text-white bg-dark mt-4" style="width:25rem; margin-left: 15%;">
        <div class="card-body">
            <h4 class="card-title"><%= Home1.title %></h4>
            <div class="card-subtitle text-muted mb-2">
                <%= Home1.createdAt.toLocaleDateString() %>
            </div>
            <div class="card-text mb-2"><%= Home1.description %></div>
            <a href="<%= Home1.id %>" class="btn btn-primary">Read More</a>
            <form  method="POST" action="/<%= Home1.id%>?_method=DELETE"  class="d-inline">
                <button type="submit" class="btn btn-danger">DELETE</button>
            </form>
        </div>
    </div>
    <% }) %>
</body>
</html>
